.dashboard {
    text-align: center;
    
}

.calendar {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 100px;
}

/* .date-grid button:first-child {
    grid-column: 5;
} */

.date-grid button {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
}

.eventbtn {
    max-height: 5%;
    background-color: black;
    color: white;
    

}

.monthName {
    text-align: center;
}

.eventLink {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.eventLink:visited {
    color: black;
}

.calendarSquare {
    background-color: #B8B8B8;
    border: 1px;
    border-color: black;
    border-style: solid;
    position: relative;
}

.dateNumber {
    position: absolute;
    top: 2px;
}