@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Pacifico&display=swap');


.accountgreetgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  justify-content: space-between;
  padding-bottom: 70px;
  background-color: white;
  color: black;
  text-align: center;
}
   
@media all and (min-width: 800px) {
  .wrapper {
    width: 80%;
    margin: auto;
  }

  
}
   
.item {
  flex: 1;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
  
  

.formgroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin: 5px;
}

input {
  margin: 5px;
}

.accountLine  {
  margin-top: 10px;
}

.accountBtn { 
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  
}

.addbtn {
  border: none;
  background-color: #0B4F6C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}

.AccountGreet {
  padding-bottom: 100px;
}