.group {
    background-color: blue;
    color: white;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
    text-align: center;
   }
   
   @media all and (min-width: 800px) {
     .wrapper {
       width: 80%;
       margin: auto;
     }
   
     .group {
       flex-direction: row;
     }
   }
   
   .item {
     flex: 1;
     margin: 10px;
     
   }

   .navbtndiv {
    position: relative;
  }

  .navbtn {
    position: absolute;
    bottom: 0;
    background-color: #0B4F6C ;
    color: white;
    border: 0;
    outline: none;
  }

  .navbtn:active {
    border: 0;
    outline: none;
    color: black;
  }